<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary py-3" id="header1-container">
  <div class="container-fluid">
    <a class="ms-2 navbar-brand" href="/shoppingstore/web">Shopping ~ Mall ~</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/shoppingstore/shopcar">購物車</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shoppingstore/lovelist">收藏</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shoppingstore/purchaseRecordlist">購買紀錄</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              商店
            </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/shoppingstore/store">我的商店</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">register</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">log out</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/shoppingstore/search" method="POST">
        <input class="form-control me-2" type="search" name="searchData" placeholder="find!" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>