<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/store/app.css">
</head>

<body>
    <h1>Store</h1>
    <a href="/shoppingstore/web">Shopping ~~ Mall ~~</a>
    <div id="left-div">
        <a href="/shoppingstore/store/login">login</a>
        <a href="/shoppingstore/store/register">register</a>
    </div>

    <div>
        <div>
            <a href="/shoppingstore/store/showCommodity">檢視商店產品</a>
        </div>
        <div>
            <a href="/shoppingstore/store/addCommodity">加入產品</a>
        </div>
        <div>
            <a href="">刪除產品</a>
        </div>
    </div>



</body>

</html>
