<% layout('layout/boilerplate3')%>
    <h1>Store</h1>
    <a href="/shoppingstore/web">Shopping ~~ Mall ~~</a>
    <div id="left-div">
        <a href="/shoppingstore/store/login">login</a>
        <a href="/shoppingstore/store/register">register</a>
    </div>

    <div>
        <div>
            <a href="/shoppingstore/store/showCommodity">檢視商店產品</a>
        </div>
        <div>
            <a href="/shoppingstore/store/addCommodity">加入產品</a>
        </div>
        <div>
            <a href="">刪除產品</a>
        </div>
    </div>
