<% layout('layout/boilerplate3')%>
    <h1>Store</h1>
    <h2>
        <%=store.storename%>
    </h2>
    <% for ( let commodity of store.commodity ) { %>
        <img  alt="" src="<%=commodity.image%>">
    <% } %>
