<% layout('layout/boilerplate')%>

<div id="body-container" class="container mb-5">
    <% for (let commodity of commoditys){%>
    <div class="card" id="commodity-container">
        <div class="row">
            <div class="col-mb-4">
                <img  class="index-img" alt="" src="<%=commodity.image%>">
                <div>
                    <h5><%= commodity.title %></h5>
                    <p><%= commodity.description %></p>
                    <a href="/shoppingstore/<%=commodity._id%>">Go!</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
