<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div id="header-container">
        <div id="h1-div">
            <h1>Shopping ~~ Mall ~~</h1>
        </div>
        <div id="search-div">
            <form action="/shoppingstore/search" method="POST">
                <label  for="searchData">search</label>
                <input type="text" id="searchData" name="searchData" placeholder="find!">
                <button>search</button>
            </form>
        </div>
        <div>
            <a href="/shoppingstore/shopcar">購物車</a>
            <a href="/shoppingstore/lovelist">收藏</a>
            <a href="/shoppingstore/purchaseRecordlist">購買紀錄</a>
            <a href="/shoppingstore/store">賣家功能</a>
        </div>

        <div>
            <% if (!currentUser) { %>
            <a href="/login">log in</a>
            <a href="/register">register</a>
            <% } else { %>
            <a href="/logout">log out</a>
            <% } %>
        </div>
    </div>

    <div id="body-container">
        <div id="body-div1">
            <div id="category-container">
                <div id="category-board">
                    <h2>類別</h2>
                </div>
                <div id="category-item1-container">
                    <div id="cloth-item-div" class="img-a-div">
                        <div>
                            <img  alt="" src="/image/cloth.jpg">
                        </div>
                        <a href="/shoppingstore/cloth">clothing</a>
                    </div>
                    <div id="shoes-item-div" class="img-a-div">
                        <div>
                            <img src="/image/shoes.jpg" alt="">
                        </div>
                        <a href="/shoppingstore/shoes">shoes</a>
                    </div>
                    <div id="cap-item-div" class="img-a-div">
                        <div>
                            <img src="/image/cap.jpg" alt="">
                        </div>
                        <a href="/shoppingstore/cap">cap</a>
                    </div>

                </div>
                <div id="category-item2-container">
                    <div class="img-a-div">
                        <div>
                            <img src="/image/food.jpg" alt="">
                        </div>
                        <a href="">food</a>
                    </div>
                    <div class="img-a-div">
                        <div>
                            <img src="/image/card.jpg" alt="">
                        </div>
                        <a href="">card</a>
                    </div>
                    <div class="img-a-div">
                        <div>
                            <img src="/image/toy.jpg" alt="">
                        </div>
                        <a href="">toy</a>
                    </div>

                </div>

            </div>

            <div id="hot-container">
                <h2 id="hot-board">Hot</h2>
                <div id="ul-div">
                    <ul>
                        <li>
                            <a href="">最流行</a>
                        </li>
                        <li>
                            <a href="">最多人點擊</a>
                        </li>
                        <li>
                            <a href="">最優惠</a>
                        </li>
                        <li>
                            <a href="">限時打折</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

    </div>



</body>

</html>